/* h1{
    color:red
}
p{
    color:blue
}
#h111{
    color:green
}
.pp{
    color:darkmagenta
} */
#navBar{
    background-color: gray;
} 
#navBar img{
    width: 100px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 20px;
}
.listt{
    list-style: none;
    display: inline-flex;
    float: right;
    margin-top: 50px;

}
.listt li{
    margin-right: 80px;
}
.navButton{
    font-size: 20px;
    padding: 10px 30px;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;  
    margin-left: 50px;
    margin-right: 50px;
}
.gridItem{
    margin-left: 20px;
    text-align: center;
    padding: 50px;
}
.mouseHover:hover{
    width: 250px;
    border: 2px solid black;
}
@media screen and (max-width:600px) {
    .gridContainer{
        grid-template-columns: auto auto;
        display: grid;
        grid-gap: 0px;  
        margin-left: 0px;
        margin-right: 0px;
    }
    .listt{
        float: none;
        margin-top:0px ;
        width: 100%;
    
    }
    .gridItem{
       width: 100%;
       padding: 0px;
       margin-left: 0px;
    }
    #navBar img{
        margin-left: 40%;
    }
    .listt li{
        margin-right: 10%;
        width: 100%;
        padding: 0px;
    }
    .navButton{
        font-size: 20px;
        padding: 5px 5px;
    }
}